/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}

img{max-width:100%;}
/*end reset*/
html, body{
    font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background:#00a78e;
}
h1,h2,h3,h4,h5,h6,a,p{
	margin:0;
		font-family: 'Source Sans Pro', sans-serif;
}

body a:hover,body a{
	text-decoration:none;
}

.agile-info_w3ls{

	width:32.35%;
	background:#fff;
}
.agile-info_w3ls h3{
	font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    padding: .7em;
    background:#fc636b;
    text-align: center;
}
.agile-info_w3ls_sub h3{
    background:#ffb900;
}
.agile-info_w3ls:nth-child(3) h3{
    background:#6a67ce;
}
.agile-info_w3ls_grid{
	padding:2em;
	    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.agile-info_w3ls_grid.second{
	padding:2em;
	background: url(../images/2.jpeg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.agile-info_w3ls_grid.third{
	padding:2em;
	background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}


/* Example Media Queries */
@media only screen and (max-width : 30em) { /* 480px/16px = 30em */

    .slide-social{
        width: 100%;
    }
    .slide-social .button{
        position: absolute;
        margin-left: 50%;
    }
}
/*-- social-icons --*/
.agile-info_w3ls_sub{
	margin:0 auto;
}
.agile_remember_left{
	float:left;
}
.agile_remember_right{
	float:right;
}
.agile_remember_right a{
	font-size:1em;
	color:#fff;
	text-decoration:underline;
}
.agile_remember {
    padding:0.5em 0;
}
.agile-info_w3ls h5{
	font-size: 14px;
    color: #fff;
    margin:2em 0 0;
    text-align: center;
}
.agile-info_w3ls h5 a{
    color: #00a78e;
    text-decoration: underline;
}
.agile-info_w3ls h5 a:hover{
	color:#999;
}
.agile_remember_right a:hover{
	color:#212121;
}
.agile-info_w3ls_grid p.asd{
	font-size:14px;
	color:#999;
	line-height:1.8em;
	padding:1em 0 0;
}
.agile-info_w3ls_grid p a{
/*-- agileits --*/
	text-decoration:none;
	    color: #fff;
    text-decoration: underline;
}
.agile-info_w3ls_grid p a:hover{
	color:#999;
}
h5.rest {
    padding-bottom: 1.55em;
}
.agile-info_w3ls{
	overflow:hidden;
}
.agile-info_w3ls{
	transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
	overflow:hidden;
	position:relative;
}
.agile-info_w3ls:hover{
    box-shadow:0px 0px 10px #262122;
    -webkit-box-shadow:0px 0px 10px #262122;
    -moz-box-shadow:0px 0px 10px #262122;
    -o-box-shadow:0px 0px 10px #262122;
    -ms-box-shadow:0px 0px 10px #262122;
    z-index: 1;
}
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.wthree_top_forms {
		width: 78%;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 83.5%;
	}
}
@media (max-width:1366px){
	.wthree_top_forms {
		width: 81%;
	}
}
@media (max-width:1280px){
	.wthree_top_forms {
		width: 87%;
	}
}
@media (max-width: 1080px){
	.wthree_top_forms {
		width: 93%;
	}
	.agile-info_w3ls {
		width: 32.25%;
	}
	.agile-info_w3ls label,.agile_remember_right a,.slide-social .button {
		font-size: 14px;
	}
	.slide p {
		font-size: 14px;
		top: 12px;
	}
	.agile-info_w3ls_grid p.asd {
		padding: 0;
	}
	h5.rest {
		padding-bottom: 0.8em;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 80.5%;
	}
}
@media (max-width: 1024px){
	.main h1 {
		font-size: 2.5em;
	}
	.agile-info_w3ls {
		width: 50%;
		float: none;
		margin: 0 auto;
	}
	.agile-info_w3ls_sub {
		margin: 0 auto !important;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 87.5%;
	}
}
@media (max-width:991px){
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 86.5%;
	}
}
@media (max-width:800px){
	.agile-info_w3ls {
		width: 75%;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 89.5%;
	}
}
@media (max-width:768px){
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 88.5%;
	}
}
@media (max-width:667px){
	.main h1 {
		font-size: 2.2em;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 86.5%;
	}
	.agileits_copyright {
		padding: 3em 0 4em;
	}
}
@media (max-width: 600px){
	.main h1 {
		font-size: 2em;
	}
	.wthree_top_forms {
		margin: 2em auto 0;
	}
	.agile-info_w3ls {
		width: 85%;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 87.5%;
	}
}
@media (max-width:568px){
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 86.5%;
	}
	.slide-social .button {
		margin: 11px 0 0 58px;
	}
}
@media (max-width:480px){
	.main h1 {
		font-size: 1.8em;
	}
	.agile-info_w3ls {
		width:100%;
	}
	.agile-info_w3ls_grid {
		padding: 1.5em;
	}
	.agileits_copyright p {
		font-size: 14px;
		padding: 0 1em;
	}
	.agileits_copyright {
		padding: 2em 0 3em;
	}
	.agile-info_w3ls h3 {
		font-size: 1.3em;
	}
}
@media (max-width:414px){
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 83.5%;
	}
	.slide-social {
		width: 139px;
	}
}
@media (max-width:384px){
	.slide-social {
		width: 126px;
	}
	.slide-social .button {
		margin: 11px 0 0 48px;
	}
}
@media (max-width:375px){
	.agile-info_w3ls h3 {
		font-size: 1.2em;
	}
	.agile-info_w3ls_grid {
		padding: 1em 1em 2em;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 82.5%;
	}
	.agile-info_w3ls_sub {
		margin: 1.5em auto !important;
	}
	.agile-info_w3ls h5 {
		margin: 1em 0 0;
	}
}
@media (max-width:320px){
	.main h1 {
		font-size: 1.6em;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		font-size: 13px;
	}
	.checkbox {
		padding-left: 30px !important;
	}
	.agile-info_w3ls input[type="email"] {
		margin: 1.5em 0 2em;
	}
	.agile-info_w3ls h5, .agileits_copyright p {
		font-size: 0.9em;
	}
	.agile-info_w3ls h3 {
		padding: .5em;
	}
	.agile_remember_left {
		float: none;
		margin-bottom: 1em;
	}
	.agile_remember_right {
		float: none;
	}
	.agile_remember {
		padding: 0.5em 0 0;
	}
	.agile-info_w3ls h4 {
		font-size: 1.1em;
		margin: 1em 0 1em;
	}
	.agile-info_w3ls_grid {
		padding: 1em;
	}
	.agileits_copyright {
		padding: 1em 0 1em;
	}
	.checkbox i {
		width: 15px;
		height: 15px;
	}
	.checkbox input + i:after {
		background: url("../images/4.png") no-repeat 0px 2px;
		background-size: 55%;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 78.5%;
	}
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.margin-bottom-10{
	margin-bottom: 10%;
}
