<div ng-controller="loginCtrl">

	<!-- Row of bootstrap grid system-->
	<div class="agile-info_w3ls agile-info_w3ls_sub">
		<h3>התחברות</h3>
		<div class="agile-info_w3ls_grid second">
			<a class="btn btn-block btn-social btn-twitter margin-bottom-10"> <span class="fa fa-twitter"></span>התחבר עם טוויטר</a>
			
			<!--
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="btn btn-block btn-social btn-facebook margin-bottom-10">

			<span class="fa fa-facebook"></span> Sign in with Facebook
			</fb:login-button>
			-->
			<button fb-login type="button" class="btn btn-block btn-social btn-facebook margin-bottom-10"><span class="fa fa-facebook"></span>התחבר עם פייסבוק </button>
			<button g-Login type="button" class="btn btn-block btn-social btn-google margin-bottom-10"><span class="fa fa-google"></span>התחבר עם גוגל </button>
	
			<!--	<div class="social_icons agileinfo">
			<section class="social">
			<a href="" class="icon fb"><img src="images/f.png" alt=""/></a>
			<a href="" class="icon tw"><img src="images/t.png" alt=""/></a>
			<a href="" class="icon gp"><img src="images/g.png" alt=""/></a>

			</section>
			</div>
			-->

		</div>
	</div>

</div>

