   <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Viaggio - חיפה</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#login" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i  style="font-family: 'Secular One', sans-serif; font-size:2.4em;">מלונות</i>
                            </div>
                        </div>
                        <img src="img/portfolio/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#rest" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i style="font-family: 'Secular One', sans-serif; font-size:2.4em;">מסעדות</i>
                            </div>
                        </div>
                        <img src="img/portfolio/cake.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#sites" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i style="font-family: 'Secular One', sans-serif; font-size:2.4em;">אטרקציות</i>
                            </div>
                        </div>
                        <img src="img/portfolio/circus.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#night" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i style="font-family: 'Secular One', sans-serif; font-size:2.4em;">חיי לילה</i>
                            </div>
                        </div>
                        <img src="img/portfolio/glass.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#search" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i style="font-family: 'Secular One', sans-serif; font-size:2.4em;">חיפוש</i>
                            </div>
                        </div>
                        <img src="img/portfolio/search.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#museums" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i style="font-family: 'Secular One', sans-serif; font-size:2.4em; font-size:2.4em;">מוזיאונים</i>
                            </div>
                        </div>
                        <img src="img/portfolio/museum.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
        
    </section>